
 @keyframes fastRotate {
    100%{
      transform: rotateY(0deg)
    }60%{
      transform: rotateY(1deg)
    }50%{
      transform: rotateZ(0deg)
    }40%{
      transform: rotateZ(-1deg)
    }30%{
      transform: rotateZ(1deg)
    }20%{
      transform: rotateZ(-1deg)
    }10%{
      transform: rotateZ(1deg)
    }0%{
      transform: rotateZ(0deg)
    }
  }

 a.active {
     animation: fastRotate 1s
}

.card:hover {
  animation: fastRotate 1s
}

.card {
  position: relative;
  /* width:310px;*/
  height:450px;
  transform-style: preserve-3d;
  /* 
  This just transition
  transition: all 1s;  
  */
  transform: rotateZ(0deg);
}

@keyframes cardRotate {
 100%{
   transform: rotateY(180deg)
 }60%{
   transform: rotateY(90deg)
 }50%{
   transform: rotateZ(0deg) scale(1.2)
 }40%{
   transform: rotateZ(-10deg)
 }30%{
   transform: rotateZ(10deg)
 }20%{
   transform: rotateZ(-10deg)
 }10%{
   transform: rotateZ(10deg)
 }0%{
   transform: rotateZ(0deg)
 }
}

/* mouse hover event with only css */
/* .card:hover {
 transform: rotateY(180deg);
 animation: cardRotate 3s
} */

/* click event with javascript*/
.card.active {
 transform: rotateY(180deg);
 animation: cardRotate 3s
}

.card div {
 width:450px;
 height:100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.swal2-html-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.swal2-html-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.front {
 background-image: url('../../images/ZodiacBox_layer.png');
 background-repeat: no-repeat;
 position: absolute;
 transform: rotateY(180deg);
 background-size: contain;
 z-index:1;
}

.back {
 background-image: url('../../images/ZodiacBox_layer.png');
 background-repeat: no-repeat;
 position: absolute;
 transform: rotateY(0deg);
 background-size: contain;
 z-index:2;
}